:root {
    --cor-principal:#dd83d1;
    --cor-secundaria:#ee9be8;
    --cor-texto:#000000;
    --cor-funo:#ffceff;
}
body{
    background-color: var(--cor-funo);
    color: var(--cor-texto);
    height: 100vh;
    margin: 0;
}
.cabeclho{
    background-color: var(--cor-principal);
    text-align: center;
}