:root {
    --cor-principal:#dd83d1;
    --cor-secundaria:#ee9be8;
    --cor-texto:#000000;
    --cor-funo:#ffceff;
}
body{
    background-color: var(--cor-funo);
    color: var(--cor-texto);
    height: 100vh;
    margin: 0;
}
.cabeclho{
    background-color: var(--cor-principal);
    text-align: center;
}
.cabecalho__titulo{
    font-size: 2rem;
    color: var(--cor-texto)
}
nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
nav a {
    text-decoration: none;
    color: var(--cor-texto);
    margin: 0 2rem  1rem 0;
    font-size: 1.2rem;
}
nav a :hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}